
html,body{
    font-family: Open Sanse,Arial,serif;
  }
  body{
    background: gray;
  }
  #game{
    margin: 0 auto;
    width: 210px;
    height: 210px;
    background: rgb(223, 217, 217);
  }
  .cell{
    width: 70px;
    height: 70px;
    border:2px solid rgb(69, 188, 224);
    float:right;
    box-sizing: border-box;
    text-align: center;
    line-height: 70px;
    font-size: 70px;
  }
  .cell:hover{
    background: #c6c6c6;
  }
  